extends layout

block content
    h1 Pagina Profili
    a.btn.btn-secondary(href='/profili/1') Profilo 1
    a.btn.btn-secondary(href='/profili/2') Profilo 2
    a.btn.btn-secondary(href='/profili/3') Profilo 3
